.quote-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.quote-container h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.quote-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}

.quote-image-wrapper {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* This makes the image circular */
  border: 5px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover; /* Ensures the image fits well within the circular shape */
  width: 200px; /* Set a specific width */
  height: 200px; /* Set a specific height to match the width */
}


.quote-text {
  flex: 1;
  text-align: left;
}

.quote-text blockquote {
  font-size: 1rem;
  font-style: italic;
  color: #555;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.quote-text p {
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

@media (max-width: 768px) {
  .quote-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .quote-image-wrapper {
    margin-bottom: 20px;
  }

  .quote-text {
    text-align: center;
  }
}
